html{
  scroll-behavior: smooth;
}
*{
  box-sizing: border-box;
}
body{
  background-color: #040714;
  color:  white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
a{
  color: white;
  text-decoration: none;
}
@media only screen and (min-width:770px) {
body{
  font-size: 25px;
}  
}
@media only screen and (min-width:470px)and (max-widht:760px) {
  body{
    font-size: 20px;
  }  
  }
  @media only screen and (max-width:470px) {
    body{
      font-size: 10px;
    }  
    }
